table {
  width: 100%;
}

th.mat-header-cell {
  text-align: center;
}

td {
  text-align: center;
}

/* OR YOU COULD USE */
/* th, td {
  text-align: center !important;
} */

td.mat-cell.cdk-column-weight.mat-column-weight {
    text-align: right !important;
}
th.mat-cell.cdk-column-weight.mat-column-weight{
  text-align: right !important;
}

.right-cell {
   text-align: right !important;
}